.align-center{
	align-items: center;
    display: flex;
}
.banner-text-content>*{
	color:#fff;
	text-align:center;
}

.banner-text-content h5{
    letter-spacing: 10px;
    margin-bottom: 5px;
}
.banner-text-content h5 {
    font-size: 14px;
    letter-spacing: 5px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 20px;
    cursor: default;
}
.banner-text-content h1 {
    font-size: 42px !important;
    font-weight: 600;
    line-height: 40px;
    color: #ffffff;
    cursor: default;
}`
.banner-text-content p{
	font-size:20px;
	font-weight:100;
	color:#BDA9C0 !important;
}
.single-post-nav{
	background:none;
}
.app_heading{
	position: relative;
    border-bottom: 1px solid #e2e2e2;
    background: #fafafa;
}
.app_heading .comment-title{
	margin:0px;
	padding:15px 10px;
}
.comment-reply-title{
	position: relative;
    border-bottom: 1px solid #e2e2e2;
    background: #fafafa;
	margin:0px;
	padding:15px 10px;
}

.breadcrumb{
	display:inline-block;
	background-color:unset;
}
.breadcrumb {
	color:#000000;
}
/* .breadcrumb a:hover{
	color:#dcdcdc;
} */

.nav-links .page-numbers{
	padding:20px 26px;
}

.app_blog_img{
	min-height:200px;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    float: left;
    margin: 0 1.8% 2.992em 0;
    padding: 10px;
    position: relative;
    width: 23.2%;
    margin-left: 0;
}
.front_img{
	transition-duration: .3s;
    transition-property: transform;
	margin-top:50px;
	margin-bottom:12%;
}

.front_img:hover{
	transform: scale(1.1);
}
.select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]{
	border: 1px solid #e6f0fa;
    padding: 15px;
     /*border-radius: 10px;
    -webkit-box-shadow: 0 0 10px #e6f0fa;
    box-shadow: 0 0 10px #e6f0fa; */
}
.site-title{
    font-size:35px;
    line-height:60px;
}
@media (min-width: 768px){
	.banner-text-content h5 {
		font-size: 16px;
		letter-spacing: 10px;
		margin-bottom: 5px;
	}
	.banner-text-content h1 {
		font-size: 40px;
		line-height: 40px;
		font-weight: 700;
		margin-bottom: 15px;
	}

	
}

@media (min-width: 992px){
	.banner-text-content h5 {
		font-size: 18px;
	}
	.banner-text-content h1 {
		font-size: 55px;
		line-height: 55px;
	}

}

@media (min-width: 1200px){
	.banner-text-content h1 {
		font-size: 78px;
		line-height: 78px;
	}
}

/*********************************************************************************/

.footer-form{
	width:100%;
}
.footer-form p{
	margin-right:20px
}
.footer-form form{
	display:flex;
}
.footer-form ipnut{
	margin-right:50px;
}
.teamthumb img{
	border-radius:50% !important;
}

.career_gallery img{
	opacity:0.2 !important;
}
.career_gallery img:hover{
	opacity:1 !important;
}
/***cloudworx***/

.cloudworx-banner-area{
	display:flow-root;
}
@media (max-width: 767px){
	.footer-form form{
		display:block;
	}
	/* .page-wrap {
		padding-top: 40px;
		padding-bottom: 40px;
	} */
	.header-background {
		height: 493px;
	}
	.header-content {
		top: 66%;
	}
	.banner-text-content h1 {
		font-size: 30px !important;
	}
	.header-content {
		font-size: 17px;
	}
}
@media screen and (max-width: 1024px){
	.header-background {
		height: 550px;
	}
	.header-content {
		top: 76%;
	}
}